<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="mpc-vidply-listview-shelf__arrows" aria-hidden="true">
    <button type="button"
            class="mpc-vidply-listview-shelf__arrow mpc-vidply-listview-shelf__arrow--prev"
            data-vidply-shelf-prev
            aria-controls="{domId}-track"
            aria-label="{f:translate(key: 'LLL:EXT:mpc_vidply/Resources/Private/Language/locallang.xlf:listview.shelf.prev', default: 'Previous items')}">
        <span class="mpc-vidply-listview-shelf__arrow-icon" aria-hidden="true">&larr;</span>
    </button>
    <button type="button"
            class="mpc-vidply-listview-shelf__arrow mpc-vidply-listview-shelf__arrow--next"
            data-vidply-shelf-next
            aria-controls="{domId}-track"
            aria-label="{f:translate(key: 'LLL:EXT:mpc_vidply/Resources/Private/Language/locallang.xlf:listview.shelf.next', default: 'Next items')}">
        <span class="mpc-vidply-listview-shelf__arrow-icon" aria-hidden="true">&rarr;</span>
    </button>
</div>

</html>
