<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:asset.css href="EXT:mpc_vidply/Resources/Public/Css/vidply.min.css" identifier="vidplyCSS"/>

<f:if condition="{needsPrivacyLayer} && !{needsPlaylist}">
    <f:asset.script identifier="vidPlyPrivacy" src="EXT:mpc_vidply/Resources/Public/JavaScript/PrivacyLayer.js" type="module"/>
</f:if>

<f:if condition="{needsHLS}">
    <f:asset.script identifier="vidPlyHLS" src="EXT:mpc_vidply/Resources/Public/JavaScript/hls.min.js"/>
</f:if>

<f:if condition="{needsPlaylist}">
    <f:asset.script identifier="playlistInit" src="EXT:mpc_vidply/Resources/Public/JavaScript/PlaylistInit.js" type="module"/>
</f:if>

</html>
