<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{playlistData}">
    <f:else>
        <f:if condition="{sources}">
            <f:then>
                <f:for as="source" each="{sources}">
                    <source src="{source.src}" type="{source.type}">
                </f:for>
            </f:then>
            <f:else>
                <f:if condition="{mediaFiles.0.publicUrl}">
                    <source src="{mediaFiles.0.publicUrl}" type="{mediaFiles.0.mimeType}">
                </f:if>
            </f:else>
        </f:if>
    </f:else>
</f:if>

</html>
