<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{audioDescriptionTracks}">
    <script data-vidply-audio-description-tracks="{uniqueId}" type="application/json">
        <f:format.raw>{f:format.json(value: audioDescriptionTracks)}</f:format.raw>
    </script>
</f:if>

<f:if condition="{audioDescription}">
    <script data-vidply-audio-description="{uniqueId}" type="application/json">
        <f:format.raw>{f:format.json(value: {src: audioDescription})}</f:format.raw>
    </script>
</f:if>

<f:if condition="{signLanguage}">
    <script data-vidply-sign-language="{uniqueId}" type="application/json">
        <f:format.raw>{f:format.json(value: signLanguage)}</f:format.raw>
    </script>
</f:if>

</html>
