<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:comment>
    The *Json variables below are pre-encoded in PHP via VidPlyProcessor::safeJsonEncode()
    using JSON_HEX_TAG | JSON_HEX_AMP | JSON_HEX_APOS | JSON_HEX_QUOT, which escapes any
    characters that could close the <script> tag or break out of attribute context. Using
    f:format.raw here is therefore safe. Never substitute a raw json_encode() or
    f:format.json (that view helper is meant for HTML attributes, not script bodies).
</f:comment>

<f:if condition="{audioDescriptionTracks}">
    <script data-vidply-audio-description-tracks="{uniqueId}" type="application/json">
        <f:format.raw>{audioDescriptionTracksJson}</f:format.raw>
    </script>
</f:if>

<f:if condition="{audioDescription}">
    <script data-vidply-audio-description="{uniqueId}" type="application/json">
        <f:format.raw>{audioDescriptionJson}</f:format.raw>
    </script>
</f:if>

<f:if condition="{signLanguage}">
    <script data-vidply-sign-language="{uniqueId}" type="application/json">
        <f:format.raw>{signLanguageJson}</f:format.raw>
    </script>
</f:if>

</html>
